@CHARSET "UTF-8";

#header {
	background-color:#0099FF;
}

body {
/* 	background-image: url("http://localhost:8080/WearableLearningFrontend/content/images/darkgreybackground.jpg"); */
	background-color: #515255;
}

#footer {
	position:relative;
	margin-top:50px;
	bottom:0;
	left:0;
	right:0;
	height:50px;
}

.ui-panel {
	box-shadow: 7px 10px 5px #303030;"
}