@CHARSET "UTF-8";

.headerText {
	color:white; 
	text-align:center; 
	margin-top:20px; 
	margin-bottom:20px; 
	font-size:50px;
	text-shadow: 1px 1px 3px #000000;
}

.tableButtonPanel {
	width:75%; 
	position:relative; 
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0;
}

.tablePanel {
	margin-top:20px; 
	width:75%; 
	text-align:center; 
	position:relative; 
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0;
}

.new span {
	display: block;
	margin-bottom:20px;
}

.buttonSize {
	width:125px;
	height:25px;
}

.shadow {
	box-shadow: 7px 10px 5px #303030;"
}

#parent {
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 fix */
}
#parent li {
  display: inline-block;
}
#parent:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}

/*.ui-buttonset .ui-button  {
	width:200px;
	height:25px;
}*/

.ui-buttonset .ui-button  {
	width:50px;
	height:15px;
}

.disableAccordionScroll .ui-accordion-content {
	overflow:hidden !important;
}

.disableLayoutScroll .ui-layout-content {
	overflow:hidden !important;
}

.foo {
  width: 100px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  display: block; 
  margin: auto;
}

.red {
  background: #CA1C18;
}

.green {
  background: #42AD49;
}

.blue {
  background: #2E6CFF;
}

.black {
  background: #000000;
}

.ui-diagram-element-state {
	border:0.1em #d4e06b;    
    width:15em; 
    height:6em; 
    line-height:1.5em;   
    text-align: center;
    background-color: #0099FF !important;
    color: #FFFFFF !important;
}

.ui-diagram-element-state-clicked {
	border:0.1em #d4e06b;    
    width:15em; 
    height:6em; 
    line-height:1.5em;   
    text-align: center;
    background-color: #0C56E8 !important;
    color: #FFFFFF !important;
}


